*{
    margin: 0;
    padding: 0;
}
.sub_page{
    display: flex;
}
.a_class{
    margin-left: 20px;
    text-decoration: none;
}
.main_manu{
    margin-top: 30px;
    margin-left: 630px;
    font-size: 20px;
}
.sub_manu{
    margin-left: 500px;
    margin-top: 30px;
}
.main_div{
    text-align: center;
}
.footer_page{
    border: 1px solid black;
    background-color: black;
    
}
.footer_main_page{
    display: flex;
}
.footer_sub{
    margin-left: 600px;
    display: flex;
    color: white;
}
.footer_Description{
    margin-left: 300px;
    margin-top: 20px;
    color: white;
}
#footer_p{
    margin-top: 45px;
    margin-left: 100px;
}

.slider {
    width: 80%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    margin-left: 530px;
}

.slides {
    display: flex;
    animation: slideAnimation 8s infinite;
}

.slide {
    width: 100%; 
    flex-shrink: 0; 
}

.main_img {
    width: 100%;
    height: auto;
}

#sub_img2{
    height: 450px;
}

#sub_img4{
    height: 450px;
}

@keyframes slideAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}